/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
.panel-title {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

@media (min-width: 768px) {
.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
    margin: 10px 0 10px 0;
}


}

.navbar-default .navbar-brand {
        font-size: 24px;
    color: #ffffff;
}
.btn-primary {
    color: #fff;
  background-color: #4b648c;
  border-color: #4b648c;
    margin-bottom: 0px;
    
}

 
.header{
    background-color: #3b5998;
    border-bottom: 1px solid #29487d;
    color: #fff;
    height: 43px;
}

.navbar-default {
    border: 0;
    padding: 0px 25px;
    background-color: #3b5998;
}





header li {
    float: left;
    /* width: auto; */

}

.header_text{
color: #ffffff;
}

header a:visited {
    color: #ffffff;
}

header ul a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #ffffff;
}

.dropdown {
    position: relative;

}

._2md02 {
    margin-top: 8px;
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v2/y3/r/IsiQV4Rtkbb.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -223px;
    display: block;
    height: 24px;
    outline: none;
    overflow: hidden;
    text-indent: -999px;
    white-space: nowrap;
    width: 24px;
}

._59tf {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v2/y-/r/C5--J239tqQ.png);
    background-repeat: no-repeat;
    background-size: 401px 190px;
    background-position: -104px -89px;
    height: 44px;
    margin: 8px auto;
    position: relative;
    width: 40px;
}

._59tf_01 {
    display: block;
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v2/y-/r/C5--J239tqQ.png);
    background-repeat: no-repeat;
    background-size: 401px 190px;
    background-position: -22px -78px;
    height: 44px;
    margin: 0 auto;
    position: relative;
    width: 40px;
}

._59tf_02 {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v2/y-/r/C5--J239tqQ.png);
    background-repeat: no-repeat;
    background-size: 401px 190px;
    background-position: -123px -124px;
    height: 44px;
    margin: 0 auto;
    position: relative;
    width: 40px;
}

._59tf_03 {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v2/y-/r/C5--J239tqQ.png);
    background-repeat: no-repeat;
    background-size: 401px 190px;
    background-position: -268px -78px;
    height: 44px;
    margin: 0 auto;
    position: relative;
    width: 40px;

}



.pro_img img{
    width:50px;
    height :50px;
    
}

.contentCol {
    background-color: #e9ebee;
    color: #1d2129;
}

.open>.dropdown-menu {
    display: block;
    background-color: #3f5d94;
}


@media (min-width: 768px){
.container {
    width: 750px;
    margin-top: 50px;
}

._52lq {
    font-size: 36px;
}

}

@media (max-width: 700px){
.top_face_intro { display: none;}
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
}

.navi_links img{
    width: 30px;
}


.navbar-default .navbar-nav>li>a {
    color: #fff;
    height: 40px;
}

.menu_margin_01{
    margin-right: 20px;
}

.menu_margin_02{
    margin-right: 30px;
}

.margin_top_30{
    margin-top: 30px;
}
.menu_topic{
    margin-top: -5px;
    margin-left: -13px;
    margin-right: 20px;
}

.menu_topic_02{
    width: 15px;
    margin-left: 5px;
}

.margin_top_60{
    margin-top: 60px;
}

