// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header ul a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #020202;
}

.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    margin-bottom: 20px;
}