// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header ul a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #020202;
}

.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    margin-bottom: 20px;
}

.panel-footer a:visited {
    color: #365899;
}


strong, b {
    font-weight: bold;
}

._4g33 {
    text-align:left;
}

._52wc {
display: flex;
}

._5i2i {
display: inline-block;
    width:40px;
    margin-right:0;
}

._5i2i img{

}

._5xu4 {
    display: block;
    width: 40px;
    height: 40px;
}

img {
    /* max-width: 10%; */
}


._5qc1 {
    font-size: 13px;
    line-height: 17px;
    margin: 0 0 12px;
    padding: 10px 10px 0;
    width: 450px;
    
}

 ._52wc {
    align-items: flex-start;
}

._2pii {
    padding-right: 8px;
}

.name{
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 5px;
    font-size: 14px;
    line-height: 17px;
}

.panel-body {
    padding: 15px;
    text-align: left;
    font-size: 14px;

}

.btn {
    color: #fff;
    background-color: #3b5998;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.wrapper {
    margin-top: 20px;
}



.col-md-8  a:visited {
    color: #365899;
}

.col-md-8 .btn-primary {
    color: #fff;
    background-color: #4b648c;
    border-color: #4b648c;
    margin-bottom: 10px;
}

a:visited {
    color: #fff;
}