<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>
<p><%= @token %></p>
<p><a href="https://yoshi-su02.c9users.io/users/confirmation?confirmation_token=<%= @token %>">アカウントを有効にする</a></p>

